<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="stringConnection" value="SERVER=localhost;DATABASE=dbcustomers;UID=root;PASSWORD=;" />
    <add key="stringConnection_" value="SERVER=localhost;datasource=127.0.0.1;port=3306;username=pruebauser;password=1234567890;database=dbcustomers;" />
  </appSettings>
</configuration>